* {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}
input,
textarea,
select {
	-webkit-appearance: none;
}
svg {
	font-weight: bold;
}
button {
	border: none;
	outline: none;
}
body {
	background-color: rgb(249, 249, 249);
}

.container {
	display: flex;
	flex-direction: column;
}
.navigation {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	border-bottom: 1.5px solid rgb(222, 222, 222);
}

.navContent {
	margin: auto;
	width: 80%;
	display: flex;
	justify-content: center;
}
.navLogo {
	width: 33.3%;
	height: 60px;
	background-image: url(/img/aspire-56734.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.navSearch {
	width: 33.3%;
	height: 60px;
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
}
/* .searchInput {
	margin-left: 0px;
} */
.searchInput input {
	width: 200px;
	height: 36px;
	background-color: rgb(249, 249, 249);
	border: 1px solid rgb(249, 249, 249);
	border-radius: 5px;
}

.searchInput input::placeholder {
	text-align: start;
	padding-left: 15px;
	font-size: 14px;
}

.searchInput button {
	vertical-align: middle;
	background-color: #fff;
	margin-left: 5px;
}

.navBar {
	width: 33.3%;
	height: 60px;
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
}

.navBar button {
	width: 25px;
	/* margin-top: 17px; */

	background-color: #fff;
}

.header {
	width: 80%;
	height: 176px;
	background-color: rgb(226, 179, 86);
	display: flex;
	flex-direction: row;
}

.headerAvatar {
	width: 35%;
	height: 176px;
	background-color: rgb(249, 249, 249);
	display: flex;
	align-items: center;
}

.avatar {
	width: 160px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: 0.5px solid rgb(255, 255, 255);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 0.6em;
	background-image: url(/img/photo_2021-05-06_12-59-36.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: flex-end;
}

.addAvatar {
	width: 50px;
	height: 50px;
	/* border-radius: 0 0 50% 50% / 0 0 100% 100%; */
	border-radius: 50%;
}
.headerBio {
	width: 65%;
	height: 176px;
	background-color: rgb(249, 249, 249);
}

.headerBio h1,
h2 {
	padding: 10px;
	font-weight: 500;
}

.headerBio h2 {
	text-align: center;
	font-weight: 200;
}

.bioResult {
	display: flex;
	margin-top: 20px;
}
.bioResult span {
	font-weight: 300;
}

.runLine {
	width: 100%;
	overflow: hidden;
	height: 60px;

	/* box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5) inset; */
	background: rgb(226, 117, 117);
	background: linear-gradient(90deg, rgb(249, 249, 249) 0%, rgba(255, 255, 255, 1) 50%, rgb(249, 249, 249) 100%);
}

.runLeft {
	margin-top: 15px;
	width: 80%;
	height: 1.5px;
	background-color: rgb(69, 152, 69);
}
.runRight {
	width: 60%;
	height: 2px;
	background-color: rgb(221, 221, 221);
}

ul {
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
	position: relative;
	width: 200%;
	animation: scroll 20s infinite linear;
}

li {
	list-style: none;
	text-align: center;
	background: #fbfbfb;
}

@keyframes scroll {
	0% {
		left: 0%;
	}
	100% {
		left: -110%;
	}
}

.mainContent {
	width: 80%;
	padding: 15px 0 15px 0;

	background-color: rgb(249, 249, 249);
	display: flex;
	flex-direction: column;
}
.contentTitle {
	width: 80%;
	text-align: left;
}
.content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.mainCard {
	margin: 10px;
	width: 33.3%;
	aspect-ratio: 1/1;
	background-color: rgb(128, 124, 241);
}
.footer {
	width: 80%;
	height: 60px;
	background-color: rgb(61, 226, 43);
}

@media (max-width: 720px) {
	.navContent,
	.header,
	.runLine,
	.mainContent,
	.footer {
		width: 100%;
	}
}

@media (max-width: 920px) {
	.searchInput input {
		width: 150px;
	}
}
/* @media (max-width: 720px) {
	.headerBio h1 {
		text-align: center;
	}
} */
/* body {
	margin: 0;
} */
.root {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(253, 231, 231);
	display: flex;
	justify-content: center;
}
.left {
	width: 50%;
	height: 100px;
	box-sizing: border-box;
	background-color: rgb(176, 176, 252);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.leftElem {
	width: 80%;
	margin: 0 auto;
	height: 50px;
	box-sizing: border-box;
	background-color: rgb(167, 244, 195);
	font-family: 'Courier New', Courier, monospace;
	border: none;
	font-size: 30px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-align: center;
}
.leftElem:focus {
	outline: 0;
	border: 3px solid rgb(239, 132, 233);
}

.right {
	width: 50%;
	height: 100px;
	box-sizing: border-box;
	background-color: rgb(167, 244, 195);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.rightElem {
	width: 80%;
	margin: 0 auto;
	height: 50px;
	box-sizing: border-box;
	background-color: rgb(176, 176, 252);
	font-family: 'Courier New', Courier, monospace;
	border: none;
	font-size: 30px;
	font-weight: bold;
	color: rgb(202, 202, 202);
	text-align: center;
}
.rightElem:focus {
	outline: 0;
	border: 3px solid rgb(239, 132, 233);
}

.addBtn {
	display: block;
	margin: 30px auto;
	width: 100px;
	height: 40px;
	background-color: rgb(109, 187, 255);
	border: 3px solid rgb(239, 132, 233);
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 30px;
	color: rgb(202, 202, 202);
}
/* .addBtn:hover {
	width: 120px;
	height: 60px;
	font-size: 40px;
} */

.mainList {
	width: 100%;
	/* height: 100px; */
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(253, 231, 231);
	display: flex;
	justify-content: center;
}

.leftList {
	width: 50%;
	/* height: 100px; */
	box-sizing: border-box;
	background-color: rgb(167, 244, 195);
}
.rightList {
	width: 50%;
	/* height: 100px; */
	box-sizing: border-box;
	background-color: rgb(176, 176, 252);
}

.scale-up-top {
	-webkit-animation: scale-up-top 1s cubic-bezier(0.39, 0.575, 0.565, 1);
	animation: scale-up-top 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@-webkit-keyframes scale-up-top {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}
}
@keyframes scale-up-top {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}
}
